@use '../global/variables' as v;


@media (max-width: 580px) {
    // Typography
    h1,
    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.8rem;
        line-height: 5rem;
    }

    a, 
    p {
        font-size: 1.8rem;
    }

    .fa-solid {
        font-size: 2rem;
    }

    // Global header
    .global-headings .logo {
        margin-bottom: v.$gutter-small;
    }

    // Home page header
    .home-header {
        background-position: 60%;
    }

    // Home page Services section
    .services .services-icon {
        height: 40px;
        flex-basis: 40px;
        padding: 7px;
    }

    // Home page Articles section
    .articles-row-container,
    .articles-row-container .text-left {
        text-align: center;
    }

    // Home page Search section
    .search .wrapper {
        margin: 0 auto;
    }

    // Blog page header
    .blog-header {
        height: 40vh;
    }

    // Contact page header
    .contact-header {
        height: 40vh;
    }
}