@use '../global/variables' as v;

.about-flex {
    @include v.flex-row-space-between;
    margin-top: 10%;

    &-text {
        flex-basis: 70%;
        
    }

    &-img {
        img {
            box-shadow: v.$box-shadow-left;
        }
    }
} 