@use '../global/variables' as v;

.about-flex {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;

    &-text {
        flex-basis: 70%;
    }

    &-img {
        
        img {
            box-shadow: v.$box-shadow-left;
        }
    }
} 