@use '../global/variables' as v;

.services {
    margin-bottom: 50px;
    
    &-flex {
        @include v.flex-row-space-between;
        flex-wrap: wrap;
        
        li {
            @include v.flex-row-space-between;
            flex-basis: 50%;
        }
    }
    
    .services-icon {
        height: 60px;
        flex-basis: 60px;
        background-color: v.$color-primary;
        border-radius: 50%;
        padding: 10px;
        margin-right: v.$gutter-small;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .services-text {
        flex-basis: 88%;
    }
}
