h1, h2, h3, p, ul, li, input, label {margin: 0; padding: 0}

a {text-decoration: none; display: inline-block;}

li {list-style-type: none;}

img {max-width: 100%; object-fit: cover;}


.wrapper {
    width: 90%;
    max-width: 1260px;
    margin: 0 auto;
}
//TODO: 
// Set all button styles here
// Set header styles for all three pages
// Set footer styles for all three pages
