@use '../global/variables' as v;

input,
textarea {
    padding: v.$gutter-small;
}

input {
    width: 45%;
    border-bottom: v.$border-form;
}

textarea {
    border: v.$border-form;
    margin: 5% 0;
    height: 40vh;
}
.global-form-flex {
    display: flex;
    flex-direction: column;
}

.global-form-inputs {
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


