@use './variables' as v;

// Baseline styles

h1, 
h2, 
h3, 
h4,
h5,
ul, 
li, 
p,
input, 
label,
fieldset,
textarea {
    @include v.transition-timing;
    margin: 0; 
    padding: 0;
}

fieldset,
input, 
textarea {
    border: none;
    background-color: transparent;
}

a {
    @include v.transition-timing;
    text-decoration: none; 
    display: inline-block;
}

img {
    width: 100%; 
    max-width: 100%; 
    object-fit: cover;
    display: block;
}

li {
    list-style-type: none;
}

p {
    margin: v.$gutter-small 0;
}

textarea {
    resize: none;
}

// Global classes

.block-span {
    display: block;
}

.btn {
    @include v.transition-timing;
    background-color: v.$color-secondary-dark;
    padding: 15px 15px 10px;
    margin: v.$gutter-small 0;
    border: none;

    &:hover, 
    &:focus {
        color: v.$color-white;
        background-color: v.$color-black;
    }
}

.italicized {
    font-style: italic;
}

.lowercase {
    text-transform: lowercase;
}

.rel-container {
    position: relative;
}

.section-padding {
    padding: 5% 0;
}

.underline {
    position: relative;

    &::after {
        position: absolute;
        content: '';
        height: 3px;
        left: 0;
        right: 0;
        bottom: 15px;
        margin: 0 auto;
        background: v.$color-primary;
        width: 65%;
    }
}

.wrapper {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
}


