@use "./variables" as v;

// Global headers 

.global-header {
    @include v.flex-row-space-between;
    height: inherit;
    padding-bottom: 5%;
}

.global-headings {
    @include v.flex-column;
    
    .logo {
        margin: v.$gutter-small 0 v.$gutter-large;
    }
    
    h2 {
        margin-bottom: 60%;
    }
} 

.global-header-nav {
    display: flex;
    margin-top: 10px;
    
    li:not(:last-child) {
        margin-right: 15px;
    }

    a {
        padding: 30px;
        transition: .3s;

        &:hover, 
        &:focus {
            transform: scale(1.4);
        }
    }
} 

// Home page header

.home-header {
    @include v.transition-timing;
    background: url(../sanctuary-helpers-final-images/header-home.jpg) center /  cover;
    height: 100vh;

    h1 {
        @include v.transition-timing;
        margin: v.$gutter-large;
    }
    
    .rel-container {
        width: 55%;
        
        .home-header-img {
            @include v.transition-timing;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -150px;
        }
    }
}

// Contact header

.contact-header {
    @include v.transition-timing;
    background: url(../sanctuary-helpers-final-images/contact-image.jpg) center / cover;
    height: 75vh;
} 

// Blog header 

.blog-header {
    @include v.transition-timing;
    background: url(../sanctuary-helpers-final-images/blog-image.jpg) center / cover;
    height: 75vh;
}

// Global footers

.global-footer {
    background: v.$color-black;
    color: v.$color-white;
    text-align: center;

    p {
        margin: 0;
    }
}