@use './variables' as v;

@media (max-width: 1620px) {
    // Home page articles
    .articles-row-container {
        padding: 0 5% 0 10%;

        img {
            width: 90%;
        }
    }
}

@media (max-width: 1375px) {
    // Home page header 
    .home-header {
        background-position: center;

        h1 {
            margin: 10% 0 0;
        }
            
        .rel-container {
            width: 60%;

            .home-header-img {
                bottom: -40px;
            }
        }
        
    }

    // Home page About
    .about-flex {
        margin-top: 5%;
    }

    // Home page articles

    .articles.section-padding {
        padding: 0;
    }
    .articles-row:first-child {
        margin-bottom: 0;
    }

    .articles-row-container {
        padding: 5%;

        img {
            width: 100%;
            height: 100%;
        }
        
        &.img-left,
        &.img-right {
            position:static;
        }
        
        .img-left {
            box-shadow: none;
            border-bottom: v.$border-img;
            border-right: v.$border-img;
        }
        .img-right {
            box-shadow: none;
            border-bottom: v.$border-img;
            border-left: v.$border-img;
        }
    }

}

@media (max-width: 1215px) {

    // Home page header
    
    // TODO: The nav starts to break here - convert to button or reduce space between each anchor?
    
    .home-header .rel-container .home-header-img{
        bottom: -30px;
    }

    // Home page about section

    .about-flex {
        align-items: center;

        &-text {
            flex-basis: 65%;
            margin-right: 60px;
        }
    }

    // Home page services section 
    .services-flex li {
        flex-basis: 47%;
    }
    
}

@media (max-width: 1120px) {
    .home-header {
        background-position: right;

        .rel-container .home-header-img {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    // About image and article images
}