@use './variables' as v;

@media (max-width: 1620px) {
    // Home page articles
    .articles-row-container {
        padding: 0 5% 0 10%;

        img {
            width: 90%;
        }
    }
}

@media (max-width: 1375px) {
    // Home page header 
    .home-header {
        background-position: center;

        h1 {
            margin: 10% 0 0;
        }
            
        .rel-container {
            width: 60%;

            .home-header-img {
                bottom: -40px;
            }
        }
        
    }

    // Home page About
    .about-flex {
        margin-top: 5%;
    }

    // Home page articles

    .articles.section-padding {
        padding: 0;
    }
    .articles-row:first-child {
        margin-bottom: 0;
    }

    .articles-row-container {
        padding: 5%;

        &:first-child {
            padding: 0;
        }

        img {
            width: 100%;
            height: 100%;
        }
        
        .img-left {
            position:static;
            box-shadow: none;
            border-bottom: v.$border-img;
            border-right: v.$border-img;
        }
        .img-right {
            position:static;
            box-shadow: none;
            border-bottom: v.$border-img;
            border-left: v.$border-img;
        }
    }

}

@media (max-width: 1215px) {

    // Home page header
    
    // TODO: The nav starts to break here - convert to button or reduce space between each anchor?
    
    .home-header .rel-container .home-header-img{
        bottom: -30px;
    }

    // Home page about section

    .about-flex {
        align-items: center;

        &-text {
            flex-basis: 65%;
            margin-right: 60px;
        }
    }

    // Home page services section 
    .services-flex li {
        flex-basis: 47%;
    }

    // Contact page header
    .contact-header {
        height: 50vh;
    }

    .contact-main {
        height: auto;
    }

    // Contact page form
    .contact-container {
        flex-direction: column;

        .rel-container {
            flex-basis: 100%;
        }
    }

    .contact-form {
        position: static;
    }

    // Contact page Socials navigation
    .contact-socials {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 5%;
    
        &-text p.lowercase {
            margin-top: 0;
        }
    }
}

@media (max-width: 1120px) {
    // Home page header
    .home-header {
        background-position: 80%;

        .rel-container .home-header-img {
            display: none;
        }
    }
}

@media (max-width: 1024px) {
    // Home page About section
    .about-flex {
        flex-direction: column-reverse;
        margin-top: 0;
    
        &-text {
            margin-top: 7%;
            margin-right: 0;
            flex-basis: 100%;
            text-align: center;
        }

        &-img {
            width: 45%;  
        }
    }   

    // Home page Gallery section 
    .gallery-flex {
        flex-wrap: wrap;
        justify-content: center;

        &-item {
            flex-basis: 45%;
            margin: 2%;

        }
    }

    // Home page Articles section
    .articles-row {

        .flipped {
            order: 1;
        }

        &-container {
            padding: 5%;
            flex-basis: 100%;
            
            &:first-child {
                height: 50vh;
            }

            .img-left,
            .img-right {
                border-bottom: v.$border-img;
                border-left: none;
                border-right: none;
            }

            .text-left {
                text-align: left;
            }
        }
    }

    // Home page Search section
    .banner-img {
        min-height: 50vh;
    }    
}

@media (max-width: 855px) {
    // Global styles

    input {
        width: 100%;
    }

    textarea {
        margin-top: 7%;
    }

    //Home page Gallery section
    .gallery-flex-item {
        flex-basis: 70%;
    } 

    // Home page Services section
    .services {
        margin-bottom: 0;
        
        &-flex li {
            flex-basis: 100%;
    
            &:not(:last-child) {
                margin-bottom: 3%;
            }
        }
    }

    // Contact page header
    .contact-header {
        height: 40vh;
    }

    // Contact page form 
    .contact-form {
        padding: 30px;
        box-shadow: none;
        border-bottom: 20px solid v.$color-primary;
    }
}      

@media (max-width: 768px) {
    // Global styles
    .btn {
        width: 100%;
    }

    // Home page Header
    .home-header {
        background-position: 70%;
    }

    // Home page About section
    .about-flex-img {
        width: 70%;
    }

    // Home page Search section
    .search-text p {
        text-align: center;
    }
}

@media (max-width: 650px) {
    // Global styles
    textarea {
        margin-top: 10%;
    }

    // Home page Gallery section
    .gallery-flex-item {
        flex-basis: 100%;
    } 

    // Contage page header
    .contact-header {
        background-position: 55%;
    }
}

@media (max-width: 580px) {
    // Typography
    h1 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.8rem;
        line-height: 5rem;
    }

    .fa-solid {
        font-size: 2rem;
    }

    // Home page header
    .home-header {
        background-position: 60%;
    }

    // Home page Services section
    .services .services-icon {
        height: 40px;
        flex-basis: 40px;
        padding: 7px;
    }

    // Home page Articles section
    .articles-row-container,
    .articles-row-container .text-left {
        text-align: center;
    }

    // Home page Search section
    .search .wrapper {
        margin: 0 auto;
    }
}

@media (max-width: 494px) {
    // Contact page socials
    .contact-socials {
        text-align: center;
        justify-content: center;
    }
}

@media (max-width: 415px) {
    // Global styles
    input,
    textarea {
        padding: 5px;
    }

    //Contact page form
    .contact-form {
        padding: 0;
        background-color: v.$color-secondary-light;
        border: none;
    }
}