@use './variables' as v;

@mixin font-styles($font-size, $line-height, $letter-spacing, $text-transform) {
    font-size: $font-size;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
    text-transform: $text-transform;
}

html {
    font-size: 62.5%;
}

h1,
h2 {
    font-family: v.$heading-outline;
    @include font-styles(6.8rem, 6.4rem, normal, uppercase);
}

h3 {
    font-family: v.$heading-filled;
    @include font-styles(3.3rem, 5.8rem, 2.1px, uppercase);
}

h4 {
    font-family: v.$heading-filled;
    @include font-styles(2.7rem, 3rem, 2.1px, uppercase);
}

//TODO: style h4

p,
.paragraph-text,
h5 {
    font-family: v.$body-text;
    @include font-styles(2rem, 3.2rem, 2px, none);
}

input,
textarea {
    font-family: v.$body-text;
    @include font-styles(2rem, 3.2rem, 2px, uppercase);
}

a {
    font-family: v.$body-text;
    color: v.$color-black;
    font-weight: 700;
    text-align: center;
    @include font-styles(2rem, 2.9rem, 1.4px, uppercase);
}

.logo {
    font-family: v.$heading-filled;
    @include font-styles(2.2rem, 2.4rem, 1.2px, uppercase);
}

.btn {
    font-family: v.$heading-filled;
    color: v.$color-white;
    text-align: center;
    @include font-styles(2rem, 3.2rem, 1px, uppercase);
}
