// Colours

$color-primary: #F8FB05;
$color-secondary-dark: #065635;
$color-secondary-light: #E0FDDF;
$color-white: #F5F5F5;
$color-black: #151514;

// Fonts

$heading-outline: 'Kumar One Outline', cursive;
$heading-filled: 'Kumar One', cursive;
$body-text: 'Lato', sans-serif;

// Other

//TODO: 
// Variable for yellow box shadow
// Variable for green border used in the forms
// Variable for yellow border used in top nav 