// Colours

$color-primary: #F8FB05;
$color-secondary-dark: #065635;
$color-secondary-light: #E0FDDF;
$color-white: #F5F5F5;
$color-black: #151514;

// Fonts

$heading-outline: 'Kumar One Outline', cursive;
$heading-filled: 'Kumar One', cursive;
$body-text: 'Lato', sans-serif;

// Borders/Shadows

$box-shadow-right: 20px 20px 0 0 $color-primary;
$box-shadow-left: -20px 20px 0 0 $color-primary;
$border-img: 20px solid $color-primary;
$border-form: 2px solid $color-secondary-dark;

// Gutters

$gutter-small: 20px;
$gutter-medium: 50px;
$gutter-large: 150px;


// Mixins

@mixin transition-timing {
    transition: all .3s;
}
