html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background-color: #F5F5F5;
  color: #151514;
  font-size: 1rem;
  padding: 10px 0;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 62.5%;
}

h1,
h2 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.8rem;
  line-height: 6.4rem;
  letter-spacing: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Kumar One", cursive;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

h4 {
  font-family: "Kumar One", cursive;
  font-size: 2.7rem;
  line-height: 3.2rem;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

h5 {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

p,
.paragraph-text {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  text-transform: none;
}

input,
textarea {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  text-transform: uppercase;
}

a {
  font-family: "Lato", sans-serif;
  color: #151514;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.btn {
  font-family: "Kumar One", cursive;
  color: #F5F5F5;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.fa-solid {
  font-size: 3rem;
}

.fa-brands {
  font-size: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
ul,
li,
p,
input,
label,
fieldset,
textarea {
  margin: 0;
  padding: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

fieldset,
input,
textarea {
  border: none;
  background-color: transparent;
}

a {
  text-decoration: none;
  display: inline-block;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}

li {
  list-style-type: none;
}

p {
  margin: 20px 0;
}

textarea {
  resize: none;
}

#toggle {
  display: none;
}

.block-span {
  display: block;
}

.btn {
  background-color: #065635;
  padding: 15px 15px 10px;
  margin: 20px 0;
  border: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.btn:hover, .btn:focus {
  color: #F5F5F5;
  background-color: #151514;
}

.italicize {
  font-style: italic;
}

.lowercase {
  text-transform: lowercase;
}

.rel-container {
  position: relative;
}

.section-padding {
  padding: 5% 0;
}

.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0 auto;
  background: #F8FB05;
  width: 65%;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.global-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}

.global-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.global-headings .logo {
  margin: 20px 0 150px;
}
.global-headings h2 {
  margin-bottom: 60%;
}

.global-header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.global-header-nav li:not(:last-child) {
  margin-right: 15px;
}
.global-header-nav a {
  padding: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.global-header-nav a:hover, .global-header-nav a:focus {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.home-header {
  background: url(../sanctuary-helpers-final-images/header-home.jpg) center/cover;
  height: 100vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.home-header h1 {
  margin: 150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.home-header .rel-container {
  width: 55%;
}
.home-header .rel-container .home-header-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -150px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-header {
  background: url(../sanctuary-helpers-final-images/contact-image.jpg) center/cover;
  height: 75vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.blog-header {
  background: url(../sanctuary-helpers-final-images/blog-image.jpg) center/cover;
  height: 75vh;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.global-footer {
  background: #151514;
  color: #F5F5F5;
  text-align: center;
}
.global-footer p {
  margin: 0;
}

input {
  border-bottom: 2px solid #065635;
  padding: 20px;
  width: 45%;
}

textarea {
  border: 2px solid #065635;
  padding: 20px;
  margin: 5% 0;
  height: 40vh;
}

.global-form-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.global-form-inputs {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.about-flex {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-flex-text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.about-flex-img img {
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}

.gallery {
  background-color: #E0FDDF;
}

.gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-flex-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.services {
  margin-bottom: 50px;
}
.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services-flex li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .services-icon {
  height: 60px;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .services-text {
  -ms-flex-preferred-size: 88%;
      flex-basis: 88%;
}

.articles {
  background-color: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles-row:first-child {
  margin-bottom: 100px;
}
.articles-row-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 10%;
  position: relative;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.articles-row-container img {
  width: 80%;
}
.articles-row-container .img-left {
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
}
.articles-row-container .img-right {
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}
.articles-row-container .text-left {
  text-align: right;
}
.articles .flipped {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.banner-img {
  background: url(../sanctuary-helpers-final-images/banner-image.jpg) center/cover;
  min-height: 60vh;
}

.search .wrapper {
  margin: 5% auto;
}

.search-text {
  text-align: center;
}
.search-text p {
  text-align: left;
}

.blog-post {
  background-color: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25%;
}
.blog-post .rel-container {
  -ms-flex-preferred-size: 65%;
      flex-basis: 65%;
}
.blog-post-article {
  background-color: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-bottom: 5px solid #F8FB05;
  position: absolute;
  left: 0;
  top: -30%;
}
.blog-post-article .article-img {
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
  width: calc(100% - 20px);
}
.blog-post-article .article-text {
  margin-left: 10%;
  padding: 10% 5% 10% 0;
  border-right: 5px solid #F8FB05;
}
.blog-post-aside {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  background-color: #F8FB05;
}
.blog-post-aside .aside-img {
  width: calc(100% - 20px);
  position: absolute;
  right: 0;
  top: -20px;
}
.blog-post-aside .aside-text {
  padding: 115% 0 10%;
  border-left: 20px solid #F8FB05;
}
.blog-post-aside .aside-text li {
  list-style: disc;
  list-style-position: inside;
  font-size: 2rem;
}

h5 {
  margin-bottom: 20px;
}

.blog-comments {
  background-color: #E0FDDF;
}
.blog-comments-display {
  margin: 5% 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 65%;
}
.blog-comments-display li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}
.blog-comments-display li .blog-comments-img {
  -ms-flex-preferred-size: 8%;
      flex-basis: 8%;
}
.blog-comments-display li .blog-comments-text {
  -ms-flex-preferred-size: 85%;
      flex-basis: 85%;
}

.blog-form {
  width: 65%;
}

.contact-main {
  background-color: #E0FDDF;
  height: 65vh;
}

.contact-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.contact-container .rel-container {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
}

.contact-form {
  background-color: #F5F5F5;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
  width: 100%;
  padding: 50px;
  position: absolute;
  bottom: -35%;
  left: 0;
}

.contact-socials {
  width: 20%;
}
.contact-socials-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contact-socials-nav ul a {
  padding: 10px;
  margin-right: 15px;
  color: #065635;
}
.contact-socials-nav ul a:first-child {
  padding-left: 0;
}
.contact-socials-nav ul a:hover, .contact-socials-nav ul a:focus {
  color: #151514;
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

@media (max-width: 1620px) {
  .articles-row-container {
    padding: 0 5% 0 10%;
  }
  .articles-row-container img {
    width: 90%;
  }
}
@media (max-width: 1375px) {
  .home-header {
    background-position: center;
  }
  .home-header h1 {
    margin: 10% 0 0;
  }
  .home-header .rel-container {
    width: 60%;
  }
  .home-header .rel-container .home-header-img {
    bottom: -40px;
  }
  .about-flex {
    margin-top: 5%;
  }
  .articles.section-padding {
    padding: 0;
  }
  .articles-row:first-child {
    margin-bottom: 0;
  }
  .articles-row-container {
    padding: 5%;
  }
  .articles-row-container:first-child {
    padding: 0;
  }
  .articles-row-container img {
    width: 100%;
    height: 100%;
  }
  .articles-row-container .img-left {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 20px solid #F8FB05;
    border-right: 20px solid #F8FB05;
  }
  .articles-row-container .img-right {
    position: static;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 20px solid #F8FB05;
    border-left: 20px solid #F8FB05;
  }
}
@media (max-width: 1215px) {
  .global-header-nav {
    margin-top: 25px;
  }
  .global-header-nav a {
    padding: 15px;
  }
  .home-header .rel-container .home-header-img {
    bottom: -30px;
  }
  .about-flex {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .about-flex-text {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
    margin-right: 60px;
  }
  .services-flex li {
    -ms-flex-preferred-size: 47%;
        flex-basis: 47%;
  }
  .blog-header {
    height: 50vh;
  }
  .blog-post {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .blog-post.section-padding {
    padding: 0;
  }
  .blog-post-article {
    position: static;
  }
  .blog-post-article .article-img {
    -ms-flex-item-align: center;
        align-self: center;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 20px solid #F8FB05;
  }
  .blog-post-article .article-text {
    border: none;
    margin: 5%;
    padding: 0;
  }
  .blog-post-aside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 40vh;
  }
  .blog-post-aside .aside-img {
    position: static;
    border: none;
  }
  .blog-post-aside .aside-text {
    padding: 50px 0 0;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog-post-aside .aside-text-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    height: 100%;
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-comments-display {
    margin: 3% 0;
    width: 100%;
  }
  .blog-form {
    width: 100%;
  }
  .contact-header {
    height: 50vh;
  }
  .contact-main {
    height: auto;
  }
  .contact-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact-container .rel-container {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact-form {
    position: static;
  }
  .contact-socials {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5%;
  }
  .contact-socials-text p.lowercase {
    margin-top: 0;
  }
}
@media (max-width: 1120px) {
  .global-header-nav li:not(:last-child) {
    margin-right: 5px;
  }
  .home-header {
    background-position: 80%;
  }
  .home-header .rel-container .home-header-img {
    display: none;
  }
  .blog-post-aside .aside-text-container {
    padding: 0;
  }
  .blog-post-aside .aside-text-container p {
    margin: 0;
  }
}
@media (max-width: 1030px) {
  .global-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .global-header-nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0;
  }
  .about-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin-top: 0;
  }
  .about-flex-text {
    margin-top: 7%;
    margin-right: 0;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    text-align: center;
  }
  .about-flex-img {
    width: 45%;
  }
  .gallery-flex {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .gallery-flex-item {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
    margin: 2%;
  }
  .articles-row .flipped {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .articles-row-container {
    padding: 5%;
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .articles-row-container:first-child {
    height: 50vh;
  }
  .articles-row-container .img-left,
.articles-row-container .img-right {
    border-bottom: 20px solid #F8FB05;
    border-left: none;
    border-right: none;
  }
  .articles-row-container .text-left {
    text-align: left;
  }
  .banner-img {
    min-height: 50vh;
  }
  .blog-post-aside .rel-container {
    display: none;
  }
  .blog-post-aside .aside-text {
    padding: 5%;
  }
}
@media (max-width: 855px) {
  input {
    width: 100%;
  }
  textarea {
    margin-top: 7%;
  }
  .gallery-flex-item {
    -ms-flex-preferred-size: 70%;
        flex-basis: 70%;
  }
  .services {
    margin-bottom: 0;
  }
  .services-flex li {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .services-flex li:not(:last-child) {
    margin-bottom: 3%;
  }
  .contact-form {
    padding: 30px;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-bottom: 20px solid #F8FB05;
  }
}
@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
  .home-header {
    background-position: 70%;
  }
  .about-flex-img {
    width: 70%;
  }
  .search-text p {
    text-align: center;
  }
  .blog-header {
    background-position: 20%;
  }
  .blog-comments-display li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog-comments-display li .blog-comments-text {
    margin-top: 20px;
  }
  .contact-header {
    height: 50vh;
  }
}
@media (max-width: 700px) {
  .blog-post-aside .aside-text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .blog-post-aside .aside-text-container:last-child {
    margin-top: 20px;
  }
}
@media (max-width: 650px) {
  .global-headings .logo {
    margin: 20px 0 100px;
  }
  textarea {
    margin-top: 8%;
  }
  .gallery-flex-item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .contact-header {
    background-position: 55%;
  }
}
@media (max-width: 580px) {
  h1 {
    font-size: 4rem;
  }
  h3 {
    font-size: 2.8rem;
    line-height: 5rem;
  }
  a,
p {
    font-size: 1.8rem;
  }
  .fa-solid {
    font-size: 2rem;
  }
  .home-header {
    background-position: 60%;
  }
  .services .services-icon {
    height: 40px;
    -ms-flex-preferred-size: 40px;
        flex-basis: 40px;
    padding: 7px;
  }
  .articles-row-container,
.articles-row-container .text-left {
    text-align: center;
  }
  .search .wrapper {
    margin: 0 auto;
  }
}
@media (max-width: 494px) {
  .global-header-nav a {
    padding: 15px;
  }
  .global-header-nav a:first-child {
    padding-left: 0;
  }
  .global-header-nav a:last-child {
    padding-right: 0;
  }
  .blog-header {
    background-position: 35%;
  }
  .contact-socials {
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 415px) {
  .global-headings .logo {
    margin-bottom: 50px;
  }
  input,
textarea {
    padding: 5px;
  }
  .btn {
    padding: 15px 0;
  }
  .wrapper {
    width: 95%;
  }
  .global-header-nav {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .global-header-nav li {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
  .global-header-nav li:nth-child(odd) {
    text-align: left;
  }
  .global-header-nav li:nth-child(even) {
    text-align: right;
  }
  .home-header {
    text-align: center;
  }
  .contact-form {
    padding: 0;
    background-color: #E0FDDF;
    border: none;
  }
}