html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.skipLink {
  position: absolute;
  left: -1000px;
  z-index: 10;
  background-color: #F5F5F5;
  color: #151514;
  font-size: 1rem;
  padding: 10px 0;
}
.skipLink:focus {
  left: 0;
  right: 0;
  text-align: center;
}

html {
  font-size: 62.5%;
}

h1,
h2 {
  font-family: "Kumar One Outline", cursive;
  font-size: 6.8rem;
  line-height: 6.4rem;
  letter-spacing: normal;
  text-transform: uppercase;
}

h3 {
  font-family: "Kumar One", cursive;
  font-size: 3.3rem;
  line-height: 5.8rem;
  letter-spacing: 2.1px;
  text-transform: uppercase;
}

p {
  font-family: "Lato", sans-serif;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 2px;
  text-transform: capitalize;
}

a {
  font-family: "Lato", sans-serif;
  color: #151514;
  font-weight: 700;
  text-align: center;
  font-size: 2rem;
  line-height: 2.9rem;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.logo {
  font-family: "Kumar One", cursive;
  font-size: 2.2rem;
  line-height: 2.4rem;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

.btn {
  font-family: "Kumar One", cursive;
  color: #F5F5F5;
  text-align: center;
  font-size: 2rem;
  line-height: 3.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h1,
h2,
h3,
ul,
li,
input,
label {
  margin: 0;
  padding: 0;
}

p {
  margin: 20px 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
}

li {
  list-style-type: none;
}

img {
  width: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.fa-solid {
  font-size: 3rem;
}

.wrapper {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;
}

.section-padding {
  padding: 5% 0;
}

.rel-container {
  position: relative;
}

.block-span {
  display: block;
}

.underline {
  position: relative;
}
.underline::after {
  position: absolute;
  content: "";
  height: 3px;
  left: 0;
  right: 0;
  bottom: 15px;
  margin: 0 auto;
  background: #F8FB05;
  width: 65%;
}

.btn {
  background-color: #065635;
  padding: 15px 15px 10px;
}

.global-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: inherit;
}

.global-headings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.global-headings .logo {
  margin: 20px 0 150px;
}
.global-headings h2 {
  margin-bottom: 60%;
}

.global-nav-ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
}
.global-nav-ul li:not(:last-child) {
  margin-right: 15px;
}
.global-nav-ul a {
  padding: 30px;
}

.home-header {
  background: url(../sanctuary-helpers-final-images/header-home.jpg) center/cover;
  height: 100vh;
}
.home-header h1 {
  margin: 150px;
}
.home-header .rel-container {
  width: 55%;
}
.home-header .rel-container .home-header-img {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -175px;
}

.contact-header {
  background: url(../sanctuary-helpers-final-images/contact-image.jpg) center/cover;
  height: 75vh;
}

.blog-header {
  background: url(../sanctuary-helpers-final-images/blog-image.jpg) center/cover;
  height: 75vh;
}

.global-footer {
  background: #151514;
  color: #F5F5F5;
  text-align: center;
}
.global-footer p {
  margin: 0;
}

.about-flex {
  margin-top: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.about-flex-text {
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
}
.about-flex-img img {
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}

.gallery {
  background-color: #E0FDDF;
}

.gallery-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-flex-item {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.services {
  margin-bottom: 50px;
}
.services-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.services-flex li {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.services .services-icon {
  height: 60px;
  -ms-flex-preferred-size: 60px;
      flex-basis: 60px;
  background-color: #F8FB05;
  border-radius: 50%;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.services .services-text {
  -ms-flex-preferred-size: 88%;
      flex-basis: 88%;
}

.articles {
  background-color: #E0FDDF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.articles-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.articles-row:first-child {
  margin-bottom: 100px;
}
.articles .articles-row-container {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  padding: 0 10%;
  position: relative;
}
.articles .articles-row-container img {
  width: 80%;
}
.articles .articles-row-container .img-left {
  position: absolute;
  bottom: 0px;
  left: 0;
  -webkit-box-shadow: 20px 20px 0 0 #F8FB05;
          box-shadow: 20px 20px 0 0 #F8FB05;
}
.articles .articles-row-container .img-right {
  position: absolute;
  top: 0px;
  right: 0;
  -webkit-box-shadow: -20px 20px 0 0 #F8FB05;
          box-shadow: -20px 20px 0 0 #F8FB05;
}
.articles .articles-row-container .text-left {
  text-align: right;
}
.articles .flipped {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.banner-img {
  background: url(../sanctuary-helpers-final-images/banner-image.jpg) center/cover;
  min-height: 60vh;
}

.search-text {
  margin: 5% auto;
  text-align: center;
}
.search-text p {
  text-align: left;
}